ops/n8n/workflows/ai-review-callback.json
{
  "id": "ai-review-callback",
  "name": "[AI-Review] Discord Interaction → GitHub Action",
  "active": true,
  "nodes": [
    {
      "id": "webhook-node",
      "name": "Receive Discord Interaction",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "discord-interaction",
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-interaction",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "verify-and-route",
      "name": "Verify + Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst MAX_TIMESTAMP_SKEW_SEC = 300;\nconst VALID_ACTIONS = new Set(['approve','fix','manual']);\n\nconst item = $input.first() ?? {};\nconst jsonPart = item.json ?? {};\nconst binaryPart = item.binary ?? {};\nconst headers = jsonPart.headers ?? {};\n\nlet rawBody = '';\nif (binaryPart.data) {\n  const d = binaryPart.data;\n  if (Buffer.isBuffer(d)) rawBody = d.toString('utf8');\n  else if (typeof d === 'string') rawBody = Buffer.from(d, 'base64').toString('utf8');\n  else if (d.data) rawBody = Buffer.isBuffer(d.data) ? d.data.toString('utf8') : Buffer.from(d.data, 'base64').toString('utf8');\n}\nif (!rawBody && typeof jsonPart.body === 'string') rawBody = jsonPart.body;\nif (!rawBody && jsonPart.body) rawBody = JSON.stringify(jsonPart.body);\n\nlet body = {};\ntry { body = JSON.parse(rawBody || '{}'); } catch (e) {}\n\nconst signature = headers['x-signature-ed25519'] ?? '';\nconst timestamp = headers['x-signature-timestamp'] ?? '';\nconst publicKey = $env.DISCORD_PUBLIC_KEY ?? '';\n\n// Replay-Schutz: Timestamp darf nicht mehr als 5min vom Server abweichen\nconst tsNum = parseInt(timestamp, 10);\nconst nowSec = Math.floor(Date.now() / 1000);\nif (!Number.isFinite(tsNum) || Math.abs(nowSec - tsNum) > MAX_TIMESTAMP_SKEW_SEC) {\n  console.log(`[callback] timestamp-skew-reject now=${nowSec} ts=${tsNum}`);\n  return [{ json: { _route: 'reject', _response: { error: 'invalid_timestamp' }, _status: 401 } }];\n}\n\n// Ed25519 Signatur verifizieren (SPKI-prefix für Node crypto.verify)\nlet verifyOk = false;\ntry {\n  if (publicKey && signature && timestamp && rawBody) {\n    const pub = Buffer.from(publicKey, 'hex');\n    const sig = Buffer.from(signature, 'hex');\n    const msg = Buffer.from(timestamp + rawBody, 'utf8');\n    verifyOk = crypto.verify(null, msg, { key: Buffer.concat([Buffer.from('302a300506032b6570032100', 'hex'), pub]), format: 'der', type: 'spki' }, sig);\n  }\n} catch (err) {\n  console.log(`[callback] verify-exception ${err.message}`);\n}\n\nif (!verifyOk) {\n  console.log(`[callback] sig-invalid type=${body.type} rawLen=${rawBody.length} sigLen=${signature.length}`);\n  return [{ json: { _route: 'reject', _response: { error: 'invalid_signature' }, _status: 401 } }];\n}\n\n// PING — Discord Endpoint-Verifikation\nif (body.type === 1) {\n  console.log('[callback] ping-ok');\n  return [{ json: { _route: 'pong', _response: { type: 1 }, _status: 200 } }];\n}\n\n// MESSAGE_COMPONENT (Button-Click)\nif (body.type === 3) {\n  const customId = body.data?.custom_id ?? '';\n  const [actionRaw, prRaw] = customId.split(':');\n  const action = (actionRaw ?? '').toLowerCase().trim();\n  const prNumber = parseInt(prRaw ?? '', 10);\n  const userId = body.member?.user?.id ?? body.user?.id ?? '';\n  const interactionId = body.id ?? '';\n  const interactionToken = body.token ?? '';\n\n  if (!VALID_ACTIONS.has(action) || !Number.isFinite(prNumber) || prNumber <= 0) {\n    console.log(`[callback] malformed-custom-id '${customId}'`);\n    return [{ json: { _route: 'reject', _response: { type: 4, data: { content: `Unknown action \\`${customId}\\``, flags: 64 } }, _status: 200 } }];\n  }\n\n  console.log(`[callback] dispatch action=${action} pr=${prNumber} user=${userId} iid=${interactionId}`);\n\n  return [{ json: {\n    _route: 'dispatch',\n    _response: { type: 6 },\n    _status: 200,\n    _dispatch: {\n      action,\n      pr_number: prNumber,\n      user_id: userId,\n      target_repo: $env.GITHUB_TARGET_REPO ?? 'EtroxTaran/ai-portal',\n      interaction_id: interactionId,\n      interaction_token: interactionToken\n    }\n  } }];\n}\n\nconsole.log(`[callback] unknown-type ${body.type}`);\nreturn [{ json: { _route: 'reject', _response: { error: 'unknown_type' }, _status: 400 } }];\n"
      }
    },
    {
      "id": "switch-route",
      "name": "Switch Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "typeValidation": "loose"},
                "combinator": "and",
                "conditions": [
                  {"leftValue": "={{ $json._route }}", "rightValue": "dispatch", "operator": {"type": "string", "operation": "equals"}}
                ]
              },
              "renameOutput": true,
              "outputKey": "dispatch"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "respond"
        }
      }
    },
    {
      "id": "github-dispatch",
      "name": "GitHub workflow_dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/actions/workflows/handle-button-action.yml/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}"},
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"},
            {"name": "User-Agent", "value": "ai-review-callback/1.0"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ref: 'main', inputs: { action: $json._dispatch.action, pr_number: String($json._dispatch.pr_number), user_id: $json._dispatch.user_id, target_repo: $json._dispatch.target_repo } } }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {"neverError": true, "fullResponse": true, "responseFormat": "json"}
          }
        }
      }
    },
    {
      "id": "log-dispatch",
      "name": "Log Dispatch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\nconst status = item.statusCode ?? item.status ?? 0;\nconst dispatch = $('Verify + Route').first().json._dispatch ?? {};\nconst ok = status >= 200 && status < 300;\n\nconsole.log(`[callback] github-dispatch status=${status} ok=${ok} action=${dispatch.action} pr=${dispatch.pr_number}`);\nif (!ok) {\n  const errBody = typeof item.body === 'object' ? JSON.stringify(item.body).slice(0, 300) : String(item.body || '').slice(0, 300);\n  console.log(`[callback] github-dispatch-error body=${errBody}`);\n}\n\n// Discord erwartet IMMER type:6 ack innerhalb 3s (sonst Interaction failed)\n// Selbst bei GitHub-Fehler: ack zurück, damit der Button im Client nicht hängt.\n// Fehlerzustand wird in n8n-Logs ausgewertet.\nreturn [{ json: { _response: { type: 6 }, _status: 200, _dispatch_ok: ok, _dispatch_status: status } }];\n"
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._response }}",
        "options": {
          "responseCode": "={{ $json._status ?? 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Receive Discord Interaction": {
      "main": [[{"node": "Verify + Route", "type": "main", "index": 0}]]
    },
    "Verify + Route": {
      "main": [[{"node": "Switch Route", "type": "main", "index": 0}]]
    },
    "Switch Route": {
      "main": [
        [{"node": "GitHub workflow_dispatch", "type": "main", "index": 0}],
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    },
    "GitHub workflow_dispatch": {
      "main": [[{"node": "Log Dispatch Result", "type": "main", "index": 0}]]
    },
    "Log Dispatch Result": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null
}
